body {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./../Images/apply\ form.jpg);
  background-size: cover;
}

.header {
  height: 60%;
}
.header-1 {
  display: flex;
  height: 200px;
  width: 100%;
  align-items: center;
}
.logo {
  width: 200px;
  display: flex;
  justify-content: center;
}

.logo-1 {
  margin-left: 25%;
  width: 100px;
  height: 80px;
}
.All-navs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  height: 100%;
}
a {
  text-shadow: 0px 0px 10px white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
a:hover {
  transform: scale(1.1);
}
.Big-font {
  height: 10%;
  display: flex;
  justify-content: center;
}
.apply-font {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  text-shadow: 0px 0px 20px white;
  color: white;
}

.full-content {
  padding-top: 20px;
  gap: 20px;
  /* font-size: 20px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid white;
  box-shadow: inset 0px 0px 30px 0px white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 800px;
  margin: auto;
  margin-bottom: 20px;
}
.name {
  width: 100%;
  /* height: 20%; */
}
label {
  margin-left: 120px;
  /* margin: auto; */
  /* padding-bottom: 10px; */
  font-size: 30px;
  text-shadow: 0px 0px 10px white;
  /* font-style: italic; */
  color: white;
}
.name-box {
  width: 100%;
  margin-top: 10px;
}
.name-box-1 {
  margin-left: 120px;
  width: 70%;
  background-color: transparent;
  font-size: 20px;
  height: 50px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px white;
}
.address-box {
  margin-top: 10px;
}
.address-box-1 {
  margin-left: 120px;
  width: 70%;
  background-color: transparent;
  font-size: 30px;
  height: 80px;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 0px 0px 25px 0px white;
}

.sample-haircut {
  width: 89%;
  display: flex;
  justify-content: center;
}
.sample-2 {
  text-align: center;
}
.sample-haircut input {
  display: none;
}
.sample-haircut label {
  cursor: pointer;
  margin-right: 20px;
}

.submit {
  display: flex;
  width: 100%;
  justify-content: center;
}
.submit-1 {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-weight: bolder;
  color: white;
  background-color: transparent;
  box-shadow: 0px 0px 20px white;
}
.submit-1:hover {
  transform: scale(1.2);
  background-color: white;
  color: black;
}
