body {
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./../Images/book-2.jpg);
  background-size: cover;
}

.header {
  height: 60%;
}
.header-1 {
  display: flex;
  height: 200px;
  width: 100%;
  align-items: center;
}
.logo {
  width: 200px;
  display: flex;
  justify-content: center;
}

.logo-1 {
  margin-left: 25%;
  width: 100px;
  height: 80px;
}
.All-navs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  height: 100%;
}
a {
  text-shadow: 0px 0px 10px white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
a:hover {
  transform: scale(1.1);
}

.haircut {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
}

.haircut-1 {
  /* margin-left: 80px; */
  font-size: 50px;
  font-weight: bolder;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 0px 0px 20px white;
}
.book {
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 50px white;
  border-radius: 40px;
  width: 450px;
  height: 800px;
}
.book-head {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}
.book-head-1 {
  text-align: center;
  text-shadow: 0px 0px 10px white;
  font-size: 35px;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
.book-img {
  width: 100%;
  height: 50%;
  display: flex;
}
.book-img-1 {
  margin: auto;
  box-shadow: 0px 0px 20px white;
  border-radius: 20px;
  width: 90%;
  height: 90%;
}
.book-font {
  height: 17%;
  width: 100%;
}
.book-font-1 {
  text-shadow: 0px 0px 10px white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}
.select-button {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.select-button-1 {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px white;
  border: none;
  background-color: transparent;
  color: white;
  transition: 0.7s;
  text-shadow: 0px 0px 30px white;
  font-size: 20px;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.select-button-1:hover {
  transform: scale(1.2);
  color: black;
  background-color: white;
}
.selecters {
  display: flex;
  justify-content: center;
  gap: 20%;
}
.book-font-2 {
  text-shadow: 0px 0px 10px white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}

.about-time-cut {
  display: flex;
  margin: 40px;
  width: 95%;
  height: 500px;
  background-color: transparent;
  box-shadow: 0px 0px 40px white;
  border: none;
  border-radius: 30px;
}
.pic-time {
  flex: 1;
  /* width: 100%; */
  /* height: 100%; */
  padding: 25px;
}
.pic-time-1 {
  border-radius: 20px;
  /* margin: 20px; */
  width: 95%;
  height: 95%;
  /* z-index: 2; */
  box-shadow: 0px 0px 20px white;
}
.book-details {
  padding: 20px;
  flex: 3;
  display: flex;
  align-items: center;
}
.book-details-1 {
  text-align: center;
  color: white;
  font-size: 28px;
}
.details-2 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

