body {
  margin: 0px;
  padding: 0px;
  background-image: url(./../Images/book-7.jpg);
  background-size: cover;
}
.success {
  /* margin-top: 0px; */
  box-shadow: 0px 0px 50px white;
  margin-top: 120px;
  margin-left: 250px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  width: 80%;
  border: none;
  height: 900px;
  border-radius: 20px;
  background-color: rgba(44, 32, 208, 0.354);
}

.congrats {
  display: flex;
  justify-content: center;
}
.congrats-1 {
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 0px 0px 20px white;
}
.right {
  display: flex;
  justify-content: center;
}
.right-1 {
  width: 350px;
  height: 350px;
  border-radius: 200px;
}
.otp {
  font-size: 40px;
  font-weight: bolder;
  color: rgb(16, 217, 60);
  text-align: center;
  text-shadow: 0px 0px 20px green;
}
.member {
  display: flex;
  justify-content: center;
}
.member-1 {
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  font-weight: bolder;
  text-shadow: 0px 0px 6px rgb(30, 229, 16);
  color: rgb(87, 225, 13);
}
.button-div {
  display: flex;
  justify-content: center;
}
.button {
  width: 200px;
  height: 50px;
  background-color: greenyellow;
  color: black;
  font-size: 30px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 30px greenyellow;
  border: none;
  transition: 0.7s;
  border-radius: 20px;
}
.button:hover {
  transform: scale(1.2);
}
