body {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./../Images/book-0.jpg);
  background-size: cover;
}
.content-1 {
  display: flex;
  border: none;
  margin-top: 170px;
  margin-left: 75px;
  width: 90%;
  box-shadow: 0px 0px 80px white;
  border-radius: 50px;
  /* height: 600px; */
  padding: 20px;
  margin-bottom: 30px;
}
.left-side {
  gap: 22px;
  display: flex;
  flex: 3;
  flex-direction: column;
}
.name {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0px 0px 10px white;
  margin: auto;
}
.name-input {
  width: 400px;
  color: white;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* align-items: center; */
  margin: auto;
  height: 50px;
  border: none;
  background-color: transparent;
  box-shadow: 0px 0px 20px white;
  border-radius: 20px;
}
.phone {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0px 0px 10px white;
  margin: auto;
}
.phone-input {
  width: 400px;
  color: white;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* align-items: center; */
  margin: auto;
  height: 50px;
  border: none;
  background-color: transparent;
  box-shadow: 0px 0px 20px white;
  border-radius: 20px;
}
.athar {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0px 0px 10px white;
  margin: auto;
}
.athar-input {
  width: 400px;
  color: white;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* align-items: center; */
  margin: auto;
  height: 50px;
  border: none;
  background-color: transparent;
  box-shadow: 0px 0px 20px white;
  border-radius: 20px;
}
.address {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0px 0px 10px white;
  margin: auto;
}
.address-input {
  width: 400px;
  color: white;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* align-items: center; */
  margin: auto;
  height: 50px;
  border: none;
  background-color: transparent;
  box-shadow: 0px 0px 20px white;
  border-radius: 20px;
}
.book {
  margin-left: 335px;
  width: 300px;
  font-weight: bolder;
  height: 90px;
  font-size: 40px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 40px white;
  color: white;
  text-shadow: 0px 0px 20px rgb(252, 252, 252);
  background-color: transparent;
  transition: 0.7s;
}
.book:hover {
  transform: scale(1.2);
  background-color: white;
  color: black;
}
.right-side {
  flex: 2;
}
.img-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 90%;
  height: 90%;
  border-radius: 30px;
  box-shadow: 0px 0px 30px white;
}
