body {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./../Images/book-8.jpg);
  background-size: cover;
}
.booking-shop {
  width: 100%;
}
.font {
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  text-shadow: 0px 0px 20px white;
  color: white;
  text-align: center;
}
.content-1 {
  box-shadow: 0px 0px 30px white;
  display: flex;
  width: 90%;
  margin: auto;
  height: 400px;
  border-radius: 30px;

  /* padding: 40px; */
  border: 2px solid white;
}
.left-side {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.name {
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
}
.name-1 {
  font-size: 30px;
  font-weight: bolder;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 0px 0px 20px white;
  color: white;
  text-align: center;
}
.name-input {
  width: 500px;
  height: 50px;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 20px white;
  margin-left: 480px;
}
.phone {
  width: 100%;
}

.phone-1 {
  font-size: 30px;
  font-weight: bolder;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 0px 0px 20px white;
  color: white;
  text-align: center;
}
.phone-input {
  width: 500px;
  height: 50px;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 20px white;
  margin-left: 480px;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 20px; */
}
.shop-pic {
  box-shadow: 0px 0px 20px white;
  width: 90%;
  border-radius: 20px;
  /* border: 1px solid white; */

  height: 90%;
}
.book-now {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.book-now-1 {
  border-radius: 20px;
  font-size: 40px;
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  background-color: white;
  text-shadow: 0px 0px 20px black;
  box-shadow: 0px 0px 20px white;
  width: 400px;
  height: 80px;
  transition: 0.7s;
}
.book-now-1:hover {
  transform: scale(1.2);
  color: white;
  background-color: black;
}
