body {
  margin: 0px;
  padding: 0px;
  background-image: url(./../Images/contact.jpg);
  background-size: cover;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header {
  height: 60%;
}
.header-1 {
  display: flex;
  height: 200px;
  width: 100%;
  align-items: center;
}
.logo-2 {
  width: 200px;
  display: flex;
  justify-content: center;
}

.logo-1 {
  margin-left: 25%;
  width: 100px;
  height: 80px;
}
.All-navs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  height: 100%;
}
a {
  text-shadow: 0px 0px 10px white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
a:hover {
  transform: scale(1.1);
}
.all-contact {
  /* padding-left: 50px; */
  margin-top: -30px;
  margin-left: 15%;
}
.all-contact-1 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 0px 6px white;
  color: white;
}
.phone {
  display: flex;
  /* border: 2px solid white; */
  border-radius: 20px;
  flex-direction: column;
  margin-left: 15%;
  /* width: 200px; */
  width: 25%;
  gap: 0px;
  box-shadow: inset 0px 0px 20px white;
  padding: 20px;
}
p {
  text-shadow: 0px 0px 20px white;
  font-size: 30px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.second-div {
  width: 25%;
  margin-bottom: 40px;
  border-radius: 20px;

  gap: 10px;
  box-shadow: inset 0px 0px 20px white;
  height: 30%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  padding: 20px;
}
.message-box {
  width: 100%;
  /* display: flex;
  justify-content: center; */
}
.enter-text {
  /* margin: auto; */
  box-shadow: 0px 0px 20px 0px white;
  font-size: 30px;
  border: 2px solid white;
  border-radius: 20px;
  font-weight: bolder;
  color: white;
  background-color: transparent;
  width: 80%;
  height: 90px;
}
.message-box {
  margin-top: 30px;
}
.submit {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.submit-1 {
  box-shadow: 0px 0px 20px 0px white;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid white;
  width: 200px;
  border-radius: 20px;
  height: 70px;
  color: white;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 5%;
}
.submit-1:hover {
  transform: scale(1.2);
  background-color: white;
  color: black;
}
