* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-image: url(./../Images/login\ page.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.content {
  position: relative;
  margin-top: 23px;
  margin-left: 80px;
  width: 600px;
  height: 800px;
  /* background-color: rgb(9, 9, 9); */
  border-radius: 10px;
  overflow: hidden;
}
/* .content::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: -50%;
  left: -50%;
  width: 600px;
  height: 800px;
  z-index: -1;
  background: linear-gradient(0deg, transparent, #37e8f8, #37e8f8);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.content::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: -50%;
  left: -50%;
  width: 600px;
  height: 800px;
  z-index: -1;
  background: linear-gradient(0deg, transparent, #37e8f8, #37e8f8);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
.content-1 {
  position: relative;
  
  padding: 60px;
  height: 98%;
  top: 8px;
  width: 98%;
  z-index: 99;
  margin-top: -52px;
  border-radius: 10px;
  /* background-image: url(./../Images/login.jpg); */
  background-size: 100% 100%;
}
.login {
  display: flex;
  justify-content: center;
  height: 15%;
  align-items: center;
}
.login-1 {
  margin-top: 20px;
  font-weight: bolder;
  color: white;
  text-shadow: 0px 0px 20px rgb(7, 7, 7);
  font-size: 70px;
}
.user-name {
  width: 100%;
}
.user-name-1 {
  margin-top: 20px;
  padding-left: 5%;
  font-size: 25px;
  font-weight: bold;
  color: azure;
  text-shadow: 0px 0px 20px rgb(8, 8, 8);
}
.user-box {
  width: 100%;
  background-color: transparent;
}
.user-box-1:focus {
  border: none;
  outline: none;
}
.user-box-1 {
  margin-top: 20px;
  padding-left: 5%;
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 20px black;
}
.email-id {
  width: 100%;
}
.email-id-1 {
  margin-top: 20px;
  padding-left: 5%;
  font-size: 25px;
  font-weight: bold;
  color: azure;
  text-shadow: 0px 0px 20px rgb(8, 8, 8);
}
.email-id-box {
  width: 100%;
  background-color: transparent;
}
.email-id-box-1:focus {
  border: none;
  outline: none;
}
.email-id-box-1 {
  margin-top: 20px;
  padding-left: 5%;
  width: 100%;
  height: 50px;
  background-color: transparent;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 20px black;
}
.password {
  width: 100%;
}
.password-1 {
  margin-top: 20px;
  padding-left: 5%;
  font-size: 25px;
  font-weight: bold;
  color: azure;
  text-shadow: 0px 0px 20px rgb(7, 7, 7);
}
.Password-box {
  /* background-color: green; */
  width: 100%;
  background-color: transparent;
}
.password-box-1:focus {
  border: none;
  outline: none;
}
.password-box-1 {
  margin-top: 20px;
  padding-left: 5%;
  width: 100%;
  height: 50px;
  background-color: transparent;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 20px black;
}

.login-button {
  padding-top: 10%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;
}
.login-button-1 {
  width: 200px;
  color: white;
  height: 80px;
  background-color: transparent;
  text-shadow: 0px 0px 10px white;
  border: none;
  box-shadow: 0px 0px 20px black;
  border-radius: 30px;
  font-size: 40px;
  font-weight: bolder;
  background-image: linear-gradient(to right, transparent 50%, black);
  background-size: 200%;
}
.login-button-1:hover {
  background-position: 100%;
  background-color: rgb(111, 118, 118);
  /* border: 3px solid red; */
  transform: scale(1.1);
}
.forgot-password {
  padding-top: 5%;
  display: flex;
  width: 100%;
  justify-content: center;
}
.forgot-password-1 {
  margin-top: -40px;
  font-size: 20px;
  font-size: 30px;
  font-weight: bold;
  color: azure;
  text-shadow: 0px 0px 20px rgb(11, 11, 11);
}

.logo {
  margin-top: 40px;
  margin-left: 40px;
  width: 200px;
  height: 150px;
  padding-left: 30px;
}
