body {
  margin: 0px;
  padding: 0px;
  background-image: url(./../Images/book-7.jpg);
  background-size: cover;
}
.big-font {
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  text-shadow: 0px 0px 10px white;
}
.content {
  display: flex;
  width: 98%;

  margin: auto;
  border-radius: 40px;
  box-shadow: 0px 0px 20px white;
  height: 350px;
  border: 1px solid white;
}
.left-side {
  flex: 1;
}
.img-div {
  flex: 4;
  width: 400px;
  height: 300px;
}
.shop-img {
  width: 98%;
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 0px 0px 20px white;
  height: 98%;
}
.select {
  display: flex;
  flex: 1;
  justify-content: center;
}
.select-button {
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 0px 20px white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 0px 0px 20px white;
  color: white;
  height: 40px;
  background-color: black;
  border-radius: 20px;
  border: none;
  transition: 0.7s;
}
.select-button:hover {
  transform: scale(1.1);
}
.right-side {
  flex: 3;
}
.shop-details {
  width: 100%;
  text-align: center;
}
.details-font {
  font-size: 20px;
  color: white;
  text-shadow: 0px 0px 10px white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span {
  font-size: 40px;
  text-align: center;
}
.all-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
