body {
  margin: 0px;
  padding: 0px;
  /* background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(59, 59, 59, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  ); */
}
.full-content {
  display: flex;

  flex-direction: column;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 1rem;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(7, 7, 7);
  padding: 6px 6px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
  border-radius: 1rem;
  border: 1px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* dropdown css is ended*/
.dropbtn {
  text-shadow: 0px 0px 10px white;
  /* background-color: black; */
  text-decoration: none;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  border: none;
}
.dropbtn:hover {
  transform: scale(1.1);
}
.header-1 {
  background-color: #eef1eb;
  background-color: #55585b;
  background-image: linear-gradient(
    312deg,
    #55585b 0%,
    #dadfdf 50%,
    #ffffff 100%
  );
  /* background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(59, 59, 59, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  ); */
  /* box-shadow: inset 0px 0px 20px white; */
  display: flex;

  height: 200px;
  width: 100%;
  align-items: center;
}
.logo-2 {
  width: 200px;
  display: flex;

  justify-content: center;
}

.logo-1 {
  margin-left: 25%;
  width: 200px;
  height: 150px;
}

.All-navs {
  display: flex;

  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  height: 100%;
}
a {
  text-shadow: 0px 0px 10px white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
a:hover {
  transform: scale(1.1);
}

.about-us {
  width: 100%;
}
.about-us-1,
.our-barber-1,
.our-features-1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-left: 4%;
  font-size: 40px;
  color: black;
  text-shadow: 0px 0px 20px white;
}
.about-box {
  display: flex;
  box-shadow: inset 0px 10px 20px black;

  padding: 40px;
}
.about-img {
  flex: 1;
}
.ex-img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
.about-us-font {
  flex: 3;
}
.big-font {
  color: black;
  text-shadow: 0px 0px 20px white;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.about-us-font-1,
.barber-font-1,
.features-font-1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 4%;
  font-size: 30px;
  color: black;
  /* text-shadow: 0px 0px 2px white; */
}

.our-barber {
  width: 100%;
  height: 20%;
}
.our-barber-box {
  padding: 40px;
  /* box-shadow: inset 0px 0px 20px white; */
  display: flex;
}
.barber-img {
  flex: 1;
  height: 400px;
}
.barber {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.barber-font {
  flex: 3;
}
.our-features {
  width: 100%;
  height: 20%;
}
.our-features-box {
  padding: 40px;
  display: flex;
  box-shadow: inset 0px 10px 20px black;
  height: 400px;
}
.features-img {
  flex: 1;
}
.features-img-1 {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.features-font {
  flex: 3;
}
@media screen and (max-width: 390px) {
  .full-content,
  .logo-2,
  .our-features-box,
  .our-barber-box,
  .about-box,
  .All-navs {
    flex-direction: column;
  }
}
