body {
  padding: 0px;
  margin: 0px;
  
}

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.full_content {
  width: 100%;
  
  display: flex;
  gap: 3rem;
  background-color: grey;
  /* background-image: linear-gradient(45deg, #04ef25 0%, #e7efed 100%); */
}

.photo_div{
  height: max-content;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(223, 225, 225);
  margin: 1% 1%;
  position: relative;
  border-radius: 1em;
}
.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border-radius: 3%; */
  width: 80%;
  height: 280px;
  /* height: 300px; */
  border-bottom: 0.1em solid rgb(71, 70, 70);
  margin: 7% auto;
  gap: 3%;
}
.photo {
  width: 80%;
  height: 90%;
  border-radius: 6%;
  border: 0.1em solid black;
  
}
.site_name_div {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.barber_text{
  margin-top: -3%;
  font-size: 1.5rem;
  color: black;
  font-weight: bolder; 
}
.site_name{
  font-size: 2rem;
  color: black;
  letter-spacing: 1px;
  
}
.site_name::first-letter {
  font-size: 3rem;
  
  color: black;
  font-weight: bolder;
}

.primary_information_div{
 
  display: flex;
  margin: 0 5%;
  flex-direction: column;
  gap: 1em;
  
}
.field_div{
  border-radius: 2%;
  border: 1px solid black;
  margin: 3%;
}
.label {
  color: grey;
  font-size: 1.5rem;
}
.input_two{
  color: black;
  width: 80%;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight:lighter;
}

.two_buttons{
 
  display: flex;
  padding: 0.4%;
  width: 100%;
  gap: 4%;
  height: 5em;
  align-items: center;
  justify-content: center;
}

.p_edit{
  width: 40%;
  text-decoration: none;
  height: 4rem;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  background-color: black;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: inset 0px 0px 5px black;
  transition: 0.7s;
}
.p_edit:hover{
  transform: scale(1.1);
}

/* small profile div css end */

.information {
  padding: 1%;
  flex: 3;
  height: 49em;
  overflow-y: auto;
  margin: 1%;
  border-radius: 0.7%;
  gap: 1rem;
  background-color: rgb(223, 225, 225);
}
.right_head {
  width: 100%;
  text-align: center;
}
.right_head p {
  font-size: 2em;
  font-weight: bolder;
}
.input_div_add{
  width:90%;
  height: 20%;
  margin: auto;
}
.input_div {
  border-radius: 2%;
  width:90%;
  height: 10%;
  margin: auto;
}

.label_full_details{
  color: grey;
  font-size: 1.5em;
}
.input {
  width: 100%;
  color: black;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  height: 2rem;
}
.card_text_div {
  width: 100%;
  text-align: center;
}
.Your_card {
  font-size: 2rem;
}
.card {
  background-color: rgb(127, 125, 125);
  display: flex;
  width: 98%;
  margin: auto;
  /* height: 26rem; */
  border-radius: 3rem;
  box-shadow: 0px 10px 10px rgb(9, 9, 9);
}
.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.shop-img {
  width: 90%;
  box-shadow: 10px 10px 10px rgb(3, 3, 3);
  border-radius: 3rem;
  height: 90%;
}
.details {
  flex: 1;
  margin: 2%;
  display: flex;
  flex-direction: column;
}
.shop-details {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.name_div {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.b_name {
  font-size: 25px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.barber_name {
  font-size: 25px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin-top: 5%;
}
.select-button {
  width: 30%;
  text-decoration: none;
  height: 100%;
  font-size: 25px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  background-color: greenyellow;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: inset 0px 0px 5px black;
  transition: 0.7s;
}
.b_detail {
  width: 30%;
  height: 100%;
  font-size: 25px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  background-color: greenyellow;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0px 0px 5px black;
  transition: 0.7s;
}
.sample_div {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sample {
  width: 28%;
  box-shadow: 10px 10px 10px black;
  height: 70%;
}
.three_buttons {
  width: 100%;
  /* background-color: aqua; */
  gap: 2%;

  display: flex;
  justify-content: center;
  margin-top: 4%;
}
.select-button:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}
.detail:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}
.create_card {
  width: 15%;
  text-decoration: none;
  height: 4rem;
  font-size: 1em;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  background-color: black;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: inset 0px 0px 5px black;
  transition: 0.7s;
}
.edit_card {
  width: 15%;
  height: 4rem;
  font-size: 1em;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  background-color: black;
  border-radius: 5%;
  border: none;
  box-shadow: inset 0px 0px 5px black;
  transition: 0.7s;
}
.edit_card:hover {
  transform: scale(1.1);
}
.create_card:hover{
  transform: scale(1.1);
}
