body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(59, 59, 59, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
.header {
  height: 60%;
}
.header-1 {
  display: flex;
  height: 200px;
  box-shadow: inset 0px 0px 20px white;
  width: 100%;
  align-items: center;
}
.logo-2 {
  width: 200px;
  display: flex;
  justify-content: center;
}

.logo-1 {
  margin-left: 25%;
  width: 200px;
  height: 200px;
}
.All-navs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  height: 100%;
}
a {
  text-shadow: 0px 0px 10px white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
a:hover {
  transform: scale(1.1);
}
.all-contact {
  margin-top: 40px;
  margin-left: 15%;
}
.all-contact-1 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 0px 6px white;
  color: white;
}
.phone {
  display: flex;
  flex-direction: column;
  margin-left: 14%;
  width: 25%;
  gap: 0px;
  padding: 20px;
}
p {
  text-shadow: 0px 0px 20px white;
  font-size: 30px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.second-div {
  width: 25%;
  margin-bottom: 40px;

  gap: 10px;
  height: 30%;
  margin-left: 14%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.message-box {
  width: 100%;
  margin-top: 30px;
}
.enter-text {
  box-shadow: inset 0px 0px 10px 0px white;
  font-size: 30px;
  border-radius: 3px;
  font-weight: bolder;
  color: white;
  background-color: transparent;
  width: 80%;
  height: 60px;
}
.submit {
  margin-top: 40px;
  display: flex;
}
.submit-1 {
  box-shadow: inset 0px 0px 10px 0px white;
  background-color: transparent;
  border-radius: 3px;
  width: 200px;
  height: 70px;
  color: white;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 5%;
  transition: 0.7s;
}
.submit-1:hover {
  transform: scale(1.2);
  background-color: white;
  color: black;
}
