body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(59, 59, 59, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.header {
  height: 60%;
}
.header-1 {
  display: flex;
  height: 200px;
  box-shadow: inset 0px 0px 20px white;
  width: 100%;
  align-items: center;
}
.logo-2 {
  width: 200px;
  display: flex;
  justify-content: center;
}

.logo-1 {
  margin-left: 25%;
  width: 200px;
  height: 200px;
}
.All-navs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  height: 100%;
}
a {
  text-shadow: 0px 0px 10px white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.about-font {
  padding: 40px 15%;
}

.big {
  width: 100%;
  height: 10%;
}
.big-font {
  font-size: 40px;
  color: white;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 0px 0px 10px white;
}
.small {
  width: 100%;
  height: 15%;
}
.small-font {
  font-size: 25px;
  color: white;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 0px 0px 10px white;
}
.contact-form {
  width: 100%;
  height: 60%;
}
.all-inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.box {
  width: 100%;
  height: 100px;
  color: white;
  font-size: 25px;
  padding-left: 3%;
  background-color: transparent;
  border: none;
  box-shadow: inset 0px 0px 10px white;
}
.message {
  width: 100%;
  padding-left: 3%;
  height: 200px;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  background-color: transparent;
  border: none;
  box-shadow: inset 0px 0px 7px white;
}
.submit {
  display: flex;
  justify-content: end;
  width: 100%;
}
.submit-1 {
  box-shadow: inset 0px 0px 10px 0px white;
  background-color: transparent;
  border-radius: 3px;
  width: 200px;
  height: 70px;
  color: white;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 5%;
  transition: 0.7s;
}
.submit-1:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
}
