body {
  margin: 0px;
  padding: 0px;
}
.full_content {
  margin: 10% auto;
  border: none;

  width: 70%;
  height: fit-content;
}
.content {
  /* border: 1px solid black; */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f1f6f9;
  box-shadow: 0px 0px 50px 0px rgb(113, 112, 112);
  display: flex;
  margin: auto;
  padding: 2%;
  width: 95.7%;
  height: fit-content;
}
.right_and_left {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}
.left {
  border-bottom: 1px solid black;
  width: 100%;
  height: 50%;
}
.left h2 {
  font-size: 40px;
}

.date_font {
  font-size: 23px;
  font-weight: bold;
}
.right {
  padding-left: 2%;
  border-left: 1px solid black;
  width: 40%;
  height: 100%;
}
.right h2 {
  font-size: 40px;
}
.shop_text {
  font-size: 25px;
  font-weight: bold;
}
.bottum {
  background-color: #bdc2cd;
  padding: 2%;
  border-radius: 20px;
  margin: 2%;
  border: 1px solid black;
}
.bottum h1 {
  font-size: 40px;
}
.pay_font {
  font-size: 20px;
  font-weight: bold;
}
.payment_div {
  width: 100%;
}
.check {
  width: 20px;
  height: 20px;
}
.payment_btn {
  color: white;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
  
  width: 100%;
  height: 70px;
}
.payment_success_div {
  position: absolute;
  border: 1px solid black;
  display: none;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-size: 30px;
  text-align: center;
}
.payment_success_div_onclick img {
  /* mix-blend-mode: color; */
  height: 50%;
  margin: auto;
  border-radius: 30px;
}
.payment_success_div p {
  text-align: center;
  position: relative;
  top: 40%;
}
.payment_success_div_onclick {
  position: absolute;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 50%);
  font-size: 30px;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  /* overflow-x: hidden; */
}

.payment_success_div_text {
  /* background-color: red; */
  position: absolute;
  top: 60%;
}
