body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(59, 59, 59, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
.date-and-time {
  display: flex;
  margin: 200px 200px 200px 200px;
  width: 75%;
  height: 700px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 20px white;
}
.left-side {
  flex: 2;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 0px;
}
.select {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-date {
  font-size: 50px;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(252, 251, 251);
  text-shadow: 0px 0px 10px rgb(252, 252, 252);
}
.date-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}
.input-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
}

.input {
  width: 300px;
  border: none;
  height: 100%;
  font-size: 30px;
  background-color: transparent;
  border-radius: 3px;
  color: white;
  box-shadow: inset 0px 0px 10px rgb(248 247 247);
}
.date-label-1 {
  color: white;
  text-shadow: 0px 0px 10px white;
  font-size: 40px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.time-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}
.time-label-1 {
  font-size: 40px;
  color: white;
  text-shadow: rgb(254 254 254) 0px 0px 10px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.next {
  width: 100%;
  height: 20%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.next-1 {
  font-size: 30px;
  width: 200px;
  height: 60px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: white;
  text-shadow: 0px 0px 20px white;
  transition: 0.7s;
  background-color: transparent;
  border-radius: 3px;
  box-shadow: inset 0px 0px 10px rgb(253 252 252);
}

.next-1:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
  text-shadow: 0px 0px 20px black;
}
.right-side {
  flex: 2;
  display: flex;
  width: 600px;
  height: 100%;
}
.img-div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.right-img {
  width: 500px;
  height: 600px;
  border-radius: 3px;
  border: none;
}
