.footer {
  display: flex;
  height: 550px;
  background-color: #bcf3a7;
  /* background-image: linear-gradient(45deg, #bcf3a7 0%, #71ff2b 52%, #b4f5b2 90%); */
  background-color: #eef1eb;
  background-color: #55585b;
  background-image: linear-gradient(
    312deg,
    #55585b 0%,
    #dadfdf 50%,
    #ffffff 100%
  );

  font-size: 1rem;
}
.round {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}
.footer_firsthalf {
  padding: 5%;
  width: 1000px;
  color: black;
  /* background-image: url(./background\ image.jpg); */
  /* background-size: cover; */
}
.footer_secondhalf {
  padding: 40px;
  width: 500px;
  /* background-image: url(./white\ background.jpg); */
}
button {
  color: black;
  background-color: transparent;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bolder;
  width: fit-content;
  box-shadow: 0px 0px 5px black;
}
.style {
  width: 28%;
  color: black;
  background-color: transparent;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bolder;
  width: fit-content;
  box-shadow: 0px 0px 5px black;
}
.nav {
  width: 250px;
  color: black;
  background-color: transparent;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bolder;
  width: fit-content;
  box-shadow: 0px 0px 5px black;
}
.card {
  color: white;
  font-weight: bold;
  /* margin-left: 6px; */
  box-sizing: border-box;
  width: 422px;
  height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0px 7px 10px rgba(15, 15, 15, 0.5);
  transition: 0.5s ease-in-out;
}
.card:hover {
  transform: translateY(10px);
}
.card:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;

  /* background: linear-gradient(to bottom, black, white); */
  /* background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.651),
    rgba(250, 249, 249, 0.438)
  ); */
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
.card:hover:before {
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.card .info {
  position: relative;
  /* z-index: #fff; */
  opacity: 0;
  /* left: 90px; */
  margin: auto;
  /* transform: translateY(10px); */
  transition: 0.5s all;
}
.card:hover .info {
  opacity: 1;
  transform: translateY(10px);
}
