footer {
  margin-top: 50px;
  border: 1px solid white;
  height: 500px;
  width: 100%;
  background-color: rgb(196, 193, 193);
}
.content-5 {
  display: flex;
  flex-direction: column;
}
.footer-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* height: 500px; */
}
.logo-div {
  width: 300px;
  height: 300px;
  display: flex;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
}

.logo-4 {
  width: 200px;
  height: 200px;
}
.about {
  /* flex: 3; */

  width: 20%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
* {
  text-decoration: none;
}
.footer-content {
  font-size: 30px;
  color: black;
  transition: 0.5s;
  font-weight: bolder;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 0px 0px 20px white;
}
.footer-content:hover {
  transform: scale(1.1);
  padding-left: 40px;
}
.all-styles {
  /* flex: 3; */
  /* padding-left: 3%; */
  width: 10%;
  display: flex;

  flex-direction: column;
}
.footer-2 {
  display: flex;
  height: 100px;
  justify-content: center;
}
.all-icons {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.icon {
  width: 50px;
  border: 1px solid white;
  border-radius: 25px;
  height: 50px;
  transition: 0.7s;
}
.icon:hover {
  transform: scale(1.3);
  box-shadow: 0px 0px 20px black;
}
