body {
  margin: 0px;
  padding: 0px;
  background-image: url(./../Images/home\ page.jpg);
  background-size: cover;
}
.header {
  height: 60%;
}
.header-1 {
  display: flex;
  /* flex-wrap: wrap; */
  height: 200px;
  width: 100%;
  align-items: center;
}
.logo {
  width: 200px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.logo-1 {
  width: 179px;
  height: 194px;
}
.All-navs {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  height: 100%;
}
a {
  text-shadow: 0px 0px 10px white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
a:hover {
  transform: scale(1.1);
}
.website-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.website-name-1 {
  margin-right: 50px;
  font-size: 120px;
  font-weight: bolder;
  font-family: fantasy;
  color: white;
  text-shadow: 0px 0px 10px rgb(252, 252, 252);
}
.welcome-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.welcome-1 {
  margin-top: -50px;
  margin-right: 50px;
  font-size: 100px;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-shadow: 0px 0px 10px rgb(255, 254, 254);
}
.service-font {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: end;
}
.service {
  width: 20%;
  margin-right: 30px;
}
.service-font-1 {
  margin-top: -30px;
  font-size: 30px;
  text-shadow: 0px 0px 10px;
  color: white;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}

@media screen and (max-width: 600px) {
  .service-font-1 {
    font-size: 15px;
    margin: auto;
    margin-top: 50px;
  }
  .service-font {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .welcome-1 {
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
  }
  .website-name-1 {
    font-size: 50px;
    margin: auto;
  }
  .logo-1 {
    width: 75px;
    height: 60px;
  }
  body {
    background-image: url(../Images/home\ page\ -\ Copy.jpg);
    background-repeat: no-repeat;
  }
}
