
/* dropdown css is started*/


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #000000;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* dropdown css is ended*/
  .dropbtn,
  a {
    text-shadow: 0px 0px 10px white;
    background-color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  .dropbtn,
  a:hover {
    transform: scale(1.1);
  }