/* header css is started */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b9c1cc;
  height: 130px;
}

.logo_img {
  height: 150px;
  width: 150px;
}

.All-navs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 1250px;
}

/* dropdown css is started*/

.nav_dropdown {
  position: relative;
  display: inline-block;
  border: none;
}

.nav_dropdown-content {
  display: none;
  position: absolute;
  background-color: #eef1eb;
  background-color: #55585b;
  background-image: linear-gradient(
    312deg,
    #55585b 0%,
    #dadfdf 50%,
    #ffffff 100%
  );
  min-width: 8rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav_dropdown-content a {
  font-size: 20px;
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  border: none;
  display: block;
}

.nav_dropdown-content a:hover {
  background-color: white;
  background-color: #eef1eb;
  background-color: #55585b;
  background-image: linear-gradient(
    312deg,
    #55585b 0%,
    #dadfdf 50%,
    #ffffff 100%
  );
}

.nav_dropdown:hover .nav_dropdown-content {
  display: block;
}

.nav_dropbtn,
.nav {
  font-weight: bold;
  font-size: 25px;
  background-color: transparent;
  text-decoration: none;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
/* dropdown css is ended*/

/* header css is ended */

/* footer css is started */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 550px;
  background-color: #b9c1cc;
  /* background-color: #eef1eb;
  background-color: #55585b;
  background-image: linear-gradient(
    312deg,
    #55585b 0%,
    #dadfdf 50%,
    #ffffff 100%
  ); */

  font-size: 1rem;
}
.footround {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}
.footicons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.footer_firsthalf {
  font-size: 25px;
  width: 750px;
  color: black;
}
.footer_secondhalf {
  width: 500px;
}

.footcard {
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  width: 500px;
  height: 450px;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0px 7px 10px rgba(15, 15, 15, 0.5);
  transition: 0.5s ease-in-out;
}
.footcard:hover {
  transform: translateY(10px);
}
.footcard:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
.footcard:hover:before {
  opacity: 0;
}
.footcard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.footcard .footinfo {
  position: relative;
  font-size: 23px;
  opacity: 0;
  margin: auto;
  transition: 0.5s all;
}
.footcard:hover .footinfo {
  opacity: 1;
  transform: translateY(10px);
}

/* footer css is ended */
